<h1>My Stores</h1>


<style>
  table, th, td {
    border: 2px solid black;
  }

  input {
    size: A3;
  }
</style>
<div class="input-group-append">
  <p>Please input your userID</p>
  <input [(ngModel)]="userId" class="form-control">
  <button (click)="showSellerStore()">
    Search
  </button>
</div>
<table class="table">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">City</th>
    <th scope="col">State</th>
    <th scope="col">postal_code</th>
    <th scope="col">star</th>
    <th scope="col">category</th>
    <th scope="col">hour</th>
  </tr>
  <tbody *ngFor="let i of stores| slice:0:25">
  <tr>
    <td>{{i._id}}</td>
    <td>{{i.name}}</td>
    <td>{{i.address}}</td>
    <td>{{i.city}}</td>
    <td>{{i.state}}</td>
    <td>{{i.postal_code}}</td>
    <td>{{i.stars}}</td>
    <td>{{i.categories}}</td>
    <td *ngIf="i.hours !=null">Monday:{{i.hours.Monday}}
      Tuesday:{{i.hours.Tuesday}}
      Wednesday:{{i.hours.Wednesday}}
      Thursday:{{i.hours.Thursday}}
      Friday:{{i.hours.Friday}}
      Saturday:{{i.hours.Saturday}}
      Sunday:{{i.hours.Sunday}}
    </td>
  </tr>
  </tbody>
</table>

<p>Reminder:You need to remember your store ID to create new project</p>
