<nav class="navbar nabbed-dark bg-black">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/createStore">Create a Store</a>
    <a class="nav-item nav-link" routerLink="/createProduct">Create Product</a>
    <a class="nav-item nav-link" routerLink="/createSubProduct">Create SubProduct(Take Note the Main Product's ID)</a>
    <a class="nav-item nav-link" routerLink="/updateprofile">Update profile</a>
    <a class="nav-item nav-link" routerLink="/businessForSeller">Check My Business and get My Store ID</a>
    <a class="nav-item nav-link" routerLink="/productForSeller">Check My Product and get their ID</a>
    <a class="nav-item nav-link" routerLink="/createMessage">Creat Message</a>
    <a class="nav-item nav-link" routerLink="/showMyMessage">Show all my Messages</a>
    <a class="nav-item nav-link" routerLink="/replyMessage">Reply Message(Take Note of your Message ID You want to Reply)</a>
  </div>
</nav>
