<nav class="navbar nabbed-dark bg-black">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/createReview">Create a Review</a>
    <a class="nav-item nav-link" routerLink="/reviewforCustomer">See my Reviews</a>
    <a class="nav-item nav-link" routerLink="/createMessage">Creat Message</a>
    <a class="nav-item nav-link" routerLink="/showMyMessage">Show all my Messages</a>
    <a class="nav-item nav-link" routerLink="/replyMessage">Reply Message(Take Note of your Message ID)</a>
  </div>
</nav>
